<!DOCTYPE html>
<html>
<head>
  <title>Darkcoinpool</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

    <div id="container">
      <div id="header">
        
        <h1>Darkcoinpool v.0.1</h1>
        
        <div id="main_info">
          <table>
            <tr>
              <td>Current Difficulty:</td>
              <td><%= current_difficulty %></td>
            </tr>
            <tr>
              <td>Pool shares:</td>
              <td><%= total_shares %></td>
            </tr>
            <tr>
              <td>Pool power:</td>
              <td>
              <% ["minute","hour","day"].each do |unit| -%>
                <%= shares_per(unit).to_s + " shares/ " + unit %><br />
              <%- end %>
              </td>
            </tr>
            <tr>
              <td><%= hashes_per_second %> hash/s</td>
            </tr>
          </table>
        </div><!-- end "main_info" -->

      </div><!-- end "header" -->
      <%= yield %>
    </div>

</body>
</html>
