<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <!-- [if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'bluebrint/print', :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'main', :media => 'screen' %>
    <%= yield :javascript %>
  </head>
  <body>
    
    <div id="container">
      <%= render 'layouts/header'  %>
          
      <div id="main_info">
        <div class="status_menu_element">
          <p class="bold left">Current Difficulty:</p>
          <p><%= current_difficulty %></p>
          <div class="clear"></div>
        </div>

        <div class="status_menu_element">
          <p class="bold left">Pool shares:</p>
          <p class="right">
          <%= Share.count %> Shares total<br />
          <% ["minute","hour","day"].each do |unit| -%>
            <%= shares_per(unit).to_s + " shares/ " + unit %><br />
          <%- end %>
          </p>
          <div class="clear"></div>
        </div>

        <div class="status_menu_element">
          <p class="bold left">Pool power:</p>
          <p class="right" id="hash_per_second">
            0.00 Mhash/s<br />
          </p>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>

      <section>
        <section class="round">
          <% flash.each do |key, value| %>
            <%= content_tag(:div, value, :class => "flash #{key}") %>
          <% end %>
        </section>
        <%= yield %>
      </section>

      <footer>
      <%= render 'layouts/footer'  %>
      <%= content_tag(:div, debug(params), :id => 'debug') if Rails.env.development? %>
      </footer>
    </div>
  </body>
</html>
