<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

    <%= stylesheet_link_tag :all %>
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'bluebrint/print', :media => 'print' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :javascript %>
    <%= csrf_meta_tag %>
  </head>
<body>

    <div id="header">
      <h1><span></span>Darkcoinpool v.0.1</h1>
    </div><!-- end "header" -->
        
    <div id="main_info">
      <div id="current_difficulty"></div>
      <div class="status_menu_element">
        <p class="bold left">Current Difficulty:</p>
        <p><%= current_difficulty %></p>
        <div class="clear"></div>
      </div>

      <div class="status_menu_element">
        <p class="bold left">Pool shares:</p>
        <p class="right">
        <%= Share.count %> Shares total<br />
        <% ["minute","hour","day"].each do |unit| -%>
          <%= shares_per(unit).to_s + " shares/ " + unit %><br />
        <%- end %>
        </p>
        <div class="clear"></div>
      </div>

      <div class="status_menu_element">
        <p class="bold left">Pool power:</p>
        <p class="right" id="hash_per_second">
          0.00 Mhash/s<br />
        </p>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div><!-- end "main_info" -->
    
    <div id="container">
      <%= yield %>
    </div>


</body>
</html>
